<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPjTdlTgG5LfFTGkpHk8zvpUqrQD-Q-mM</string>
	<key>GCM_SENDER_ID</key>
	<string>1085291452706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-74808</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-74808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085291452706:ios:7ddf6e69de7fcf3e1ced7b</string>
</dict>
</plist>